<header class="header header-6">
  <div class="branding">
    <a [routerLink]="['/admin']" class="nav-link">
      <clr-icon shape="network-globe"
                style="color: white; background: rgba(255, 255, 255, 0.15); margin-right: 10px; padding: 6px; border-radius: 2px;" size="36"></clr-icon>
      <span class="title">pi-wol</span>
    </a>
  </div>
  <div class="header-actions">
    <a [routerLink]="['/admin']" class="nav-link nav-icon">
      <clr-icon shape="home" size="20"></clr-icon>
    </a>
    <a [routerLink]="['/admin', 'settings']" class="nav-link nav-icon">
      <clr-icon shape="cog" size="20"></clr-icon>
    </a>
  </div>
</header>
